/* Фон background: #E5E5E5 */
/* фон блока background: #F5F4FA */
/* фон футера background: #2F303A */
/* цвет текста color: #757575;-светлый  #212121; #000000 #FFFFFF

*/
/* цвет ссылок футера color: rgba(255, 255, 255, 0.6); */
/* акцент color: #2196F */

:root { 
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196ff;
--primary-white-color: #FFFFFF;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list
{
  list-style: none;
}

.link {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}


/* Logo */

.logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* site nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.contact-nav a:hover,
.contact-nav a:focus,
.site-nav a:hover,
.site-nav a:focus,
.footer .link:hover, 
.footer .link:focus, 
.link-contact:hover, 
.link-contact:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

/* Features */

.features .title {
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.features .text {font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* Work List */

.work-list {
}

/* Team */

.section-team {
  background-color: #f5f4fa;
}

.team-list h3 {
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.team-list p {font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

/* Button */

.button {
font-family: "Roboto", sans-serif;
color: var(--primary-white-color);
background-color: var(--accent-color);
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover, .button:focus {
  background-color: #188CE8;
  color: var(--primary-white-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-footer > span {
  color: var(--accent-color);
}

.footer .link {
color: var(--primary-white-color);
font-style: normal;
text-decoration: none;
font-size: 14px;
line-height: 1.71
letter-spacing: 0.03em;
}

.link-contact {
color: rgba(255, 255, 255, 0.6);;
font-style: normal;
text-decoration: none;
font-size: 14px;
line-height: 1.71
letter-spacing: 0.03em;
}

/* Portfolio */

.button-portfolio.current, 
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-portfolio {
font-family: inherit;
background-color: #F5F4FA;
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
display: flex;
text-align: center;
letter-spacing: 0.03em;
border: none;
border-radius: 4px;
cursor: pointer;
}

.portfolio-title {color: var(--title-text-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio p{font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}